name: Run tests

on:
  pull_request:
    branches: ['master']

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-python@v3
        with:
          python-version: 3.13.3

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade poetry
          poetry install --with dev
      - name: Run tests
        run: pytest