name: Run tests

on:
  pull_request:
    branches: ['master']

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    environment: CI
    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${{ vars.ACCESS_TOKEN_EXPIRE_MINUTES }}
      ALGORITHM: ${{ vars.ALGORITHM }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: actions/setup-python@v3
        with:
          python-version: 3.13.3

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade poetry
          poetry install --with dev
      - name: Run tests
        run: |
          poetry run pytest